*{
    margin: 0px;
    padding: 0px;
}
nav {
    float: left;
    width: 20%
}
section {
    float: left;
    width: 50%;
}
aside {
    float: left;
    width: 30%;
}
#menuprincipal{
    display: none;
    width: 20%;
    height: 100%;
    padding: 0%;
}
#menuprincipal li{
    display: block;
    margin-right: 0px;
    text-align: right;
}